

/*main{
    background-color: #D6E1F0;
    display: flex;
    flex-direction: column;
  }*/
  article{
    background-color:white ;
    padding: 1em;
    min-width: 16em;
    max-width: 50em;
    border-radius: 1em;
    margin: auto;
    border-width: 22em;
    border-style: solid;
    border-color: #D6E1F0;
  }
  img
  {
    width: 100%;
    height: auto;
  }
  h1,p,footer
  {
    font-family:  Outfit, Arial, sans-serif;
    text-align: center;
  }
  a
  {
    text-decoration: none;
    color: blue;
  }
  a:hover
  {
    text-decoration: none;   
    color: crimson;
  }

  

  
  
