@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

main {
    background-color: white;
    padding: 1em;
    min-width: 16em;
    max-width: 50em;


    border-radius: 1em;
    margin: auto;
    border-width: 2px; 
    border-style: solid;
    border-color: #D6E1F0;
    padding-bottom: 22px;
    margin: auto;    
}
body
 {
  background-color: #D6E1F0;
  
}
 

img {
    width: 100%;
    height: auto;
}

h1, p, footer {
    font-family: Outfit, Arial, sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: blue;
    transition: color 0.3s ease; /* Adicionada transição para a cor */
}

a:hover {
    text-decoration: underline;
    color: crimson;
}
